<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- above 3 meta tags must come first -->

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/img/favicon.ico">

    <title>
        {% if og and og["title"] %}
            {{ og["title"] }}
        {% elif title %}
            {{ title }}
        {% endif %}
    </title>

    {% block meta %}
    {% endblock %}

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css">
    {% block css %}
    {% endblock %}

    {% block head %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rankings">rankings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doom">towers of doom</a>
                </li>
            </ul>
            <form method="GET" action="/search" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="query" type="text" placeholder="search team or player">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <style>
            .message {
                z-index: 100;
                margin-top: 1rem;
            }

            .alert-dismissible .close {
                top: 0;
                right: 0;
                padding: 0;
            }
        </style>
        {% for message in messages %}
            <div class="container alert alert-info alert-dismissible fade show message" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block content %}
{% endblock %}

{% include "base/footer.html" %}
{% include "base/scripts.html" %}

{% block commonscript %}
{% endblock %}

{% block scripts %}
{% endblock %}
</body>
</html>