{% extends "bare_layout.html" %}

{% block head %}
    <style>
        .doom {
            margin: 2rem;
        }

        .doom a::after {
            content: "\A";
            white-space: pre;
        }

        .doom .row {
            display: flex;
            justify-content: space-around;
            margin-bottom: 2rem;
        }

        .doom .row > div {
            background: white;
            width: 20%;
            padding: 1rem;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }

        .doom .row h1 {
            float: right;
        }

        .row {
            position: relative;
        }

        .row:before {
            content: "";
            position: absolute;
            border-bottom: 2rem #eee solid;
            height: 60%;
            width: 90%;
            z-index: -1;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Towers of Doom</h1>
        <p>Teams are displayed with their respective Elo scores and probability of winning listed in large bold numbers.</p>
    </div>
    <div class="container-fluid doom">
        {% for path in doom_matches %}
            <div class="row">
                {% for match in path %}
                    <div>
                        <div>
                            <h1>0</h1>
                            <a href="/team/{{ match.team_1id }}">Team 1</a>
                            <em>{{ match.team_1elos[0] }}</em>
                        </div>
                        <div>
                            <h1>0</h1>
                            <a href="/team/{{ match.team_2id }}">Team 2</a>
                            <em>{{ match.team_2elos[0] }}</em>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}


        <!-- Row 1 -->
        <div class="row">
            <div>
                <div>
                    <h1>78</h1>
                    <a href="/team/15517">CSULB Overwatch</a>
                    <em>3995</em>
                </div>
                <hr>
                <div>
                    <h1>22</h1>
                    <a href="/team/15448">CMU</a>
                    <em>3768</em>
                </div>
            </div>
            <div>
                <div>
                    <h1>0</h1>
                    <a href="/team/17579">Purdue</a>
                    <em>4051</em>
                </div>
                <hr>
                <div>
                    <h1>0</h1>
                    <a href="#">TBD</a>
                    <em>TBD</em>
                </div>
            </div>
            <div>
                <div>
                    <h1>0</h1>
                    <a href="/team/14620">ｓｐａｒｔａｎｓ なぜ</a>
                    <em>3799</em>
                </div>
                <hr>
                <div>
                    <h1>0</h1>
                    <a href="#">TBD</a>
                    <em>TBD</em>
                </div>
            </div>
            <div>
                <div>
                    <h1>0</h1>
                    <a href="/team/14696">UCI Esports</a>
                    <em>4295</em>
                </div>
                <hr>
                <div>
                    <h1>0</h1>
                    <a href="#">TBD</a>
                    <em>TBD</em>
                </div>
            </div>
        </div>

        <!-- Row 2 -->
        <div class="row">
            <div>
                <div>
                    <h1>0</h1>
                    <a href="/team/">Overwatch Team</a>
                    <em>4000</em>
                </div>
                <hr>
                <div>
                    <h1>0</h1>
                    <a href="/team/">Overwatch Team</a>
                    <em>4000</em>
                </div>
            </div>
            <div>
                <div>
                    <h1>0</h1>
                    <a href="/team/">Overwatch Team</a>
                    <em>4000</em>
                </div>
                <hr>
                <div>
                    <h1>0</h1>
                    <a href="#">TBD</a>
                    <em>TBD</em>
                </div>
            </div>
            <div>
                <div>
                    <h1>0</h1>
                    <a href="/team/">Overwatch Team</a>
                    <em>4000</em>
                </div>
                <hr>
                <div>
                    <h1>0</h1>
                    <a href="#">TBD</a>
                    <em>TBD</em>
                </div>
            </div>
            <div>
                <div>
                    <h1>0</h1>
                    <a href="/team/">Overwatch Team</a>
                    <em>4000</em>
                </div>
                <hr>
                <div>
                    <h1>0</h1>
                    <a href="#">TBD</a>
                    <em>TBD</em>
                </div>
            </div>
        </div>

        <!-- Row 3 -->
        <div class="row">
            <div>
                <div>
                    <h1>0</h1>
                    <a href="/team/">Overwatch Team</a>
                    <em>4000</em>
                </div>
                <hr>
                <div>
                    <h1>0</h1>
                    <a href="/team/">Overwatch Team</a>
                    <em>4000</em>
                </div>
            </div>
            <div>
                <div>
                    <h1>0</h1>
                    <a href="/team/">Overwatch Team</a>
                    <em>4000</em>
                </div>
                <hr>
                <div>
                    <h1>0</h1>
                    <a href="#">TBD</a>
                    <em>TBD</em>
                </div>
            </div>
            <div>
                <div>
                    <h1>0</h1>
                    <a href="/team/">Overwatch Team</a>
                    <em>4000</em>
                </div>
                <hr>
                <div>
                    <h1>0</h1>
                    <a href="#">TBD</a>
                    <em>TBD</em>
                </div>
            </div>
            <div>
                <div>
                    <h1>0</h1>
                    <a href="/team/">Overwatch Team</a>
                    <em>4000</em>
                </div>
                <hr>
                <div>
                    <h1>0</h1>
                    <a href="#">TBD</a>
                    <em>TBD</em>
                </div>
            </div>
        </div>

        <!-- Row 4 -->
        <div class="row">
            <div>
                <div>
                    <h1>0</h1>
                    <a href="/team/">Overwatch Team</a>
                    <em>4000</em>
                </div>
                <hr>
                <div>
                    <h1>0</h1>
                    <a href="/team/">Overwatch Team</a>
                    <em>4000</em>
                </div>
            </div>
            <div>
                <div>
                    <h1>0</h1>
                    <a href="/team/">Overwatch Team</a>
                    <em>4000</em>
                </div>
                <hr>
                <div>
                    <h1>0</h1>
                    <a href="#">TBD</a>
                    <em>TBD</em>
                </div>
            </div>
            <div>
                <div>
                    <h1>0</h1>
                    <a href="/team/">Overwatch Team</a>
                    <em>4000</em>
                </div>
                <hr>
                <div>
                    <h1>0</h1>
                    <a href="#">TBD</a>
                    <em>TBD</em>
                </div>
            </div>
            <div>
                <div>
                    <h1>0</h1>
                    <a href="/team/">Overwatch Team</a>
                    <em>4000</em>
                </div>
                <hr>
                <div>
                    <h1>0</h1>
                    <a href="#">TBD</a>
                    <em>TBD</em>
                </div>
            </div>
        </div>

    </div>
{% endblock %}