{% extends "bare_layout.html" %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">TCS Overwatch Elo Rankings</h1>
            <p class="lead">This website uses data from the <a href="https://compete.tespa.org/tournament/75">Tespa Collegiate Series - Overwatch</a> bracket to assign elo ratings to every team on the bracket.</p>
            <hr class="my-4">
            <p>We start with the team's average skill rating and use the elo system from that.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/rankings" role="button">See Rankings</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div id="methodology">
            <h2>Methodology</h2>
            <p>lorem ipsum with some fancy math stuff</p>
        </div>
    </div>

{% endblock %}