{% extends "bare_layout.html" %}

{% block content %}
    <div class="container">
        <h1>Rankings for {{ region|capitalize }}</h1>
        <p>Raw json dump for this page available <a href="{{ json_link }}">here</a>.</p>
        <p><em>Last updated with Round 6 data (Round 7 - 8 scheduled)</em></p>
        <div class="text-center">
            <div class="btn-group" role="group" aria-label="region-select">
                <a href="/rankings" class="btn btn-secondary">Nationwide</a>
                <a href="/rankings/west" class="btn btn-secondary">West</a>
                <a href="/rankings/north" class="btn btn-secondary">North</a>
                <a href="/rankings/south" class="btn btn-secondary">South</a>
                <a href="/rankings/east" class="btn btn-secondary">East</a>
            </div>
        </div>
        <table class="table table-sm">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Team</th>
                <th>University</th>
                <th>Region</th>
                <th>SR</th>
                <th>Elo</th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="/team/{{ team.id }}">{{ team.name }}</a></td>
                    <td>{{ team.university }}</td>
                    <td class="text-capitalize">{{ team.region }}</td>
                    <td>{{ team.average_sr|round|int }}</td>
                    <td class="font-weight-bold">{{ team.elo|round|int }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}